<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.zjazn.pojo"/>
        <package name="com.zjazn.data"/>
    </typeAliases>
    <mappers>

        <mapper resource="com/zjazn/dao/CommentMapper.xml"/>
        <mapper resource="com/zjazn/dao/LogMapper.xml"/>
        <mapper resource="com/zjazn/dao/UpMapper.xml"/>
        <mapper resource="com/zjazn/dao/PointLogMapper.xml"/>
        <mapper resource="com/zjazn/dao/PointLogMapper.xml"/>
    </mappers>

</configuration>